<div class="section">
  <div class="container">
    <div class="row">
        <br>
        <br>
        <br>
            <h1 class="text-center">New Message</h1>
    </div>
  </div>

  <br>

  <%= render :partial => 'simple_form' %>

</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1 class="text-center">Today's Messages</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped">
        <thead>
          <tr>
              <th><%= :title %></th>
              <th><%= :message %></th>
            </tr>
        </thead>
    <tbody>
        <% @messages.each do |message| %>
         <tr>
             <td><%= message.title %></td>
             <td><%= message.message %></td>
         </tr>
        <% end %>
    </tbody>
</table>
