<div class="login">
  <div class="container">
    <div class="form">

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <h1>Log In</h1>

        <%= form_for(:session, url: login_path) do |f|%>
          <%= f.text_field :email, :placeholder => "Email" %>
          <%= f.password_field :password, :placeholder => "Password"%>
          <%= f.submit "Login", class: "btn-submit", method: "Create" %>
        <% end %>

    </div>
  </div>
</div>