<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">

      <%= render :partial => 'layouts/top_navigation' %>

      <%= yield %>

      <%= render :partial => 'layouts/bot_navigation' %>

    </div>

</body>
</html>
